.messages-container {
    width: 90%;
    height: 50%;
    border-width: 2px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: flex-end;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.time {
    line-height: 0;
    font-size: 0.8rem;
    float: right;
    color: rgb(81, 84, 255);
}

.write-button {
    border: 0;
    background-color: #0248c2;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.write-button:hover {
    background-color: var(--secondary-color);
    color: whitesmoke;
}

.disco-button {
    border: 0;
    background-color: #0248c2;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.disco-button:hover {
    background-color: var(--secondary-color);
    color: whitesmoke;
}

.send-button {
    border: 0;
    background-color: var(--primary-color);
    float: right;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #0248c2;
}

.close-button {
    border: 0;
    background-color: var(--secondary-color);
    float: right;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #0248c2;
}

.write-input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: none;
    height: 50px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    vertical-align: baseline;
    padding: 15px;
}

.button-container {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 10px;
    display: none;
    margin-left: 5%;
}

.chat {
    list-style: none;
    background: none;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 95%;
    overflow: scroll;
    scroll-behavior: smooth;
    border-width: 3px;
}

.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.msg {
    background: white;
    width: fit-content;
    min-width: 50%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
}

.self .msg p {
    color: rgb(81, 84, 255);
}

.other .msg p {
    color: rgb(81, 84, 255);
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .msg {
    background-color: #efefef;
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #d4d4d4;
}

.other .msg {
    background-color: #efefef;
    order: 1;
    border-bottom-left-radius: 0px;
    box-shadow: -1px 2px 0px #d4d4d4;
}