.form-text {
    margin-left: 5%;
    margin-right: 5%;
}

.input {
	display: flex;
	position: relative;
	padding-top: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.input-label {
	color: #0248c2;
	position: absolute;
	top: 0px;
	transition: 0.25s ease;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;
}

.label {
	color: #0248c2;
	position: relative;
    margin-top: 15px;
    font-size: 18px;
}

.input-field {
    width: 100%;
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #efefef; 
	font: inherit;
	font-size: 16px;
	padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 0px;
    color : var(--primary-color);
}

.action {
	margin-top: 20px;
}

.alerte {
	color: #e74c3c;
}

.action-button {
    border : 0;
    background-color: #0248c2;
    color: whitesmoke;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  
  .action-button:hover {
    background-color: var(--secondary-color);
    color: whitesmoke;
  }

  .table {
    align-items: center;
      width: 80%;
    background-color: none;
    margin: 10%;
    margin-top: 5%;
  }
  
  .table-header {
    display:flex;
    width:100%;
    background:var(--primary-color);
    padding:0;
    margin-bottom: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .table-row {
    display:flex;
    width:100%;
    padding:18px 5px;
    color: var(--secondary-color)
  }
  
  .table-row:nth-of-type(odd) {
    background: var(--secondary-color);
    color: whitesmoke
  }
  
  .table-row:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .table-content {
    border-radius: 20px;
    box-shadow: 0px 5px 10px #969595;
  }
  
  .table-data, .header__item {
      flex: 1 1 20%;
      text-align:center;
  }
  
  .header__item h4 {
    color : whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px;
  }

  img:hover {
    cursor: pointer;
  }

  