/* Header du main */
header {
    position: relative;
    text-align: center;
    background-color: #efefef;
    width: 100%;
    margin: 0;
    padding: 22px;
    box-shadow: 8px 5px 20px #969595;
  }
  
  header h1 {
    font-size: 25px;
    padding: 0;
    line-height: 0;
    color : #616161;
  }

  header h3 {
    font-size: 18px;
    padding: 2px;
    margin-bottom: 0;
    margin-top: 20px;
    color : var(--primary-color);
  }