@media (max-width: 800px) {
    .aside {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  
  a {
    text-decoration: none;
  }

  .aside {
    border-top-right-radius: 50;
    flex: 20%;
    background-color: var(--secondary-color);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;
  }
  
  /* Grand boutton de navigation dans aside */
  .fix-nav {
    padding-bottom: 5px;
    text-align: center;
    font-size: 17px;
    height: 100%;
  }
  
  .fix-nav a:hover {
    color: #0248c2;
  }
  
  .fix-nav a {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  
  .fix-nav:first-child {
    border-bottom: 1px solid #efefef;
  }
  
  /* Sous bouton de navigation dans aside*/
  .nav {
    width: 100%;
    background-color: var(--secondary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    z-index: 1;
    border-top: 1px solid #efefef;
  }
  
  .nav:last-child {
    border-bottom: 1px solid #efefef;
  }
  
  .nav:hover {
    background-color: #0248c2;
  }
  
  .nav a {
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: 'Varela Round Normal';
  }
  
  .nav a:hover {
    background-color: #0248c2;
    width: 100%;
    color: whitesmoke;
  }
  
  /* Header du aside */
  .aside-header {
    color: whitesmoke;
    position: relative;
    top: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #efefef;
    font-size: 20px;
    font-weight: 800px;
  }
  
  /* content du aside */
  .content {
    width: 100%;
    position: relative;
    height: 80%;
    padding-top: 5px;
    background-color: var(--primary-color);
    color: whitesmoke;
  }
  
  /* footer du aside */
  .sidebar-footer {
    justify-content: center;
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    text-decoration: none;
  }
  
  /* user infos dans aside */
  .user_infos_container {
    padding: 20px;
    padding-top: 0;
    background-image: url('../visuals/settings.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 90% 0;
    text-decoration: none;
  }
  
  .sidebar-footer h4 {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .sidebar-footer a {
    text-decoration: none;
  }
  
  .user_infos_container:hover {
    background-image: url('../visuals/settings_hover.png');
  }
  
  .sidebar-footer h5 {
    color: lightgray;
    text-decoration: none;
  }